/* Global */

body 
{
	font-family: "Roboto", 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 1em;
	color: #eeeeee;
	background-color:#ffffff;
}

@font-face 
{
  font-family: "Roboto";
  /** src: url(http://www.princexml.com/fonts/larabie/kimberle.ttf) format("truetype"); */
  src: url('../fonts/roboto-regular-webfont.ttf') format("truetype");
}

img 
{
	margin-left:auto;
	margin-right:auto;
	max-width: 100%;
}

a:link 
{
	color: #f68f67;
	text-decoration: none;
}
a:hover 
{
	color: #bde2df;
	text-decoration: none;
}
a:visited 
{
	color: #f68f67;
	text-decoration: none;
}

#me
{
	width: 300px;
	height: 300px;
	margin-left:auto;
	margin-right:auto;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	overflow:hidden;
	background: url('../images/me.jpg') no-repeat;
}

#decorative 
{
	display:none;
}

/* Navigation */

.menu 
{
	position:fixed;
	top:0px;
	width:100%; 
	height:auto; 
	/** background-color:#ffffff; */
	background: rgb(0,0,0); /* Fall-back for browsers that don't
                                    support rgba */
    background: rgba(0, 0, 0, .7);
	z-index:100;
	color:#8a8683;
}

#logo
{
	text-align: center;
	margin: 10px 0;
}

#nav
{
	text-align: right;
	margin: 10px 0 0 0;
}

.navigation
{
	float: right;
	list-style: none;
	margin: 0;
}
.navigation li
{
	float: left;
	padding:0 0 0 50px;
}
.navigation li:hover
{
	cursor:pointer;
	color: #a9d3d0;
}

.navigation .active
{
	cursor:pointer;
	color: #f68f67;
	font-weight:bold;
}


/* General Slides */ 

.slide
{
	background-attachment: fixed;
	width:100%;
	height:auto;
	position: relative;
	padding:40px 0;
}

/* Slide 1 */ 

#slide1
{
	padding-top:80px;
	background-color:#ee475b;
	text-align:center;
}
#slide1 h1 
{
	font-size: 3.8em;
	letter-spacing: -3px;
	line-height: 0px;
	color:#ffffff;
	font-weight: 700;
}
#slide1 h2 
{
	font-size: 2em;
	color: #ffffff;
	line-height: 0px;
	padding-bottom:20px;
	font-weight: 400;
}

button,
input,
optgroup,
select,
textarea,
submit
{
	color: #dddddd;
	font: inherit;
	width:95%;
	margin-top:5px;
	margin-bottom:5px;
	padding:8px;
	border:0;
	font-weight:bold;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius:6px;
}

.mybutton
{
	overflow: visible;
	border:0;
	background:#d44354;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius:6px;
}

.mybutton:hover 
{
    border: none;
    background:#be2d3e;
    box-shadow: 0px 0px 1px #777;
}

.sites_navigation
{
	float:center;
	font-size:2em;
	list-style: none;
	margin: 0;
}
.sites_navigation li
{
	float: center;
	display: inline;
	padding-right:50px;
}

.sites_navigation a:link,
.sites_navigation a:visited
{
	color: #aaaaaa;
	/* text-decoration:underline; */
}

.sites_navigation a:hover
{
	cursor:pointer;
	color: #999999;
}


/* Slide 2 */ 

#slide2
{
	background-color:#aaaaaa;
	color:#ffffff;
	text-align:center;
}
#slide2 h1 
{
	font-size: 3.8em;
	letter-spacing: -3px;
	line-height: 0px;
	color:#ee475b;
	font-weight: 700;
}

#slide2 h2 
{
	font-size: 2em;
	color: #ee475b;
	line-height: 0px;
	padding-bottom:20px;
	font-weight: 400;
}

#desk_setup
{
	margin-left: auto;
    margin-right: auto;
}


/* CampusTaxiShare */ 

#slide3
{
	background: url('../images/bg_ny.jpg') no-repeat center center fixed; 
	background-size:cover;
	background-position:left center;
	background-color:#000000;
	color:#ffffff;
}
#slide3 h1 
{
	font-size: 3.8em;
	letter-spacing: -3px;
	line-height: 0px;
	font-weight: 700;
}
#slide3 h2 
{
	font-size: 2em;
	line-height: 0px;
	padding-bottom:20px;
	font-weight: 400;
}

#slide3 h3
{
	font-size: 1.4em;
	color: #ffffff;
	line-height: 1.25em;
	padding-bottom:20px;
	font-weight: 200;
}

#test
{
	background-color:#bde2df;
	color:#ffffff;
	text-align:center;
	font-size: 2em;
	font-weight: 400;
}


/* Slide 4 */

#slide4
{
	background-color:#2c2c2c;
	color:#ffffff;
}

#slide4 h1 
{
	font-size: 3.8em;
	letter-spacing: -3px;
	line-height: 0px;
	color:#bebdbd;
	font-weight: 700;
}

#slide4 h2 
{
	font-size: 2em;
	color: #bebdbd;
	line-height: 0px;
	padding-bottom:20px;
	font-weight: 400;
}

#slide4 h3
{
	font-size: 1.4em;
	color: #9fe1de;
	line-height: 1.25em;
	padding-bottom:20px;	
	font-weight: 200;
}

/* Slide 5 */

#slide5
{
	background-color:#ee475b;
	text-align:center;
	color:#ffffff;
}

#slide5 h1 
{
	font-size: 3.8em;
	letter-spacing: -3px;
	line-height: 0em;
	color:#ffffff;
	margin-bottom:.4em;
	font-weight: 700;
}

#slide5 h2 
{
	font-size: 2em;
	color: #ffffff;
	line-height: 0em;
	margin-bottom:.9em;
	font-weight: 400;
}

#slide5 h3
{
	font-size: 1.4em;
	color: #ffffff;
	line-height: 0em;
	padding-bottom:1.2em;	
	font-weight: 200;
}

.contacts_navigation
{
	float:center;
	color:ffffff;
	font-size:1.4em;
	line-height:1.5em;
	list-style: none;
	margin: 0;
}
.contacts_navigation li
{
	float: center;
	color:ffffff;
	display: inline;
	padding-right:50px;
}

.contacts_navigation a:link,
.contacts_navigation a:visited
{
	color:ffffff;
	/* text-decoration:underline; */
}

.contacts_navigation a:hover
{
	cursor:pointer;
	color: #999999;
}

/* Tablet */
@media screen and (max-width: 1024px) 
{

#logo 
{
	width: 100%;
	text-align: center;
}

#nav 
{
	width:100%;
	text-align:center;
	margin:10px 0;
}

.navigation
{
	width: 100%;
	float: center;
	list-style: none;
	margin: 0;
	padding:0;
}

.navigation li
{
	float: left;
	width:25%;
	padding:0;
}

.slide
{
	background-attachment: fixed;
	width:100%;
	position: relative;
	padding:150px 0;
}

#content 
{
	text-align:center;
	width:100%;
}

#slide1 h1 
{
	line-height: 1em;
}

#slide1 h2
{
	line-height: 1em;
}
#slide2 h1
{
	line-height: 1em;
}

#slide2 h2 
{
	line-height: 1em;
}
#slide3 h1 
{
	line-height: 1em;
}
#slide3 h2 
{
	line-height: 1em;
}
#slide4 h1 
{
	line-height: 1em;
}

#slide4 h2 
{
	line-height: 1em;
}

}


/* Mobile */
@media screen and (max-width: 480px) 
{

#logo {
	width: 100%;
	text-align: center;
}

#nav 
{
	width:100%;
	margin:5px 0;
}

.navigation
{
	width: 100%;
	float: left;
	list-style: none;
	margin: 0;
	padding:0;
}

.navigation li
{
	float: left;
	width:25%;
}

.slide
{
	background-attachment: fixed;
	width:100%;
	position: relative;
	padding:150px 0;
}


#slide1 h1 {
	line-height: 1em;
}
#slide1 h2 {
	line-height: 1em;
}
#slide2 h1 {
	line-height: 1em;
}
#slide2 h2 {
	line-height: 1em;
}
#slide3 h1 {
	line-height: 1em;
}
#slide3 h2 {
	line-height: 1em;
}
#slide4 h1 {
	line-height: 1em;
}
#slide4 h2 {
	line-height: 1em;
}


}




