body
{
	font-family: 'Ubuntu Mono', sans-serif;
	font-weight: 400;
	font-size: 1.2em;
	color: #eeeeee;
	background-color:#ee475b;
}

b
{
	color: #dddddd;
}

div
{
	padding-top: 10px;
}

p
{
	padding-top: 5px;
}

a
{
	color: #6699ff;
	text-decoration: underline;
}

.main
{
	text-align: center;
}

/* source: http://jsfiddle.net/hashem/ut5sbqvz/ */
.vertical-center
{
  min-height: 100%;  /* Fallback for vh unit */
  min-height: 100vh; /* You might also want to use
                        'height' property instead.
                        
                        Note that for percentage values of
                        'height' or 'min-height' properties,
                        the 'height' of the parent element
                        should be specified explicitly.
  
                        In this case the parent of '.vertical-center'
                        is the <body> element */

  /* Make it a flex container */
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; 
  
  /* Align the bootstrap's container vertically */
    -webkit-box-align : center;
  -webkit-align-items : center;
       -moz-box-align : center;
       -ms-flex-align : center;
          align-items : center;
  
  /* In legacy web browsers such as Firefox 9
     we need to specify the width of the flex container */
  width: 100%;
  
  /* Also 'margin: 0 auto' doesn't have any effect on flex items in such web browsers
     hence the bootstrap's container won't be aligned to the center anymore.
  
     Therefore, we should use the following declarations to get it centered again */
         -webkit-box-pack : center;
            -moz-box-pack : center;
            -ms-flex-pack : center;
  -webkit-justify-content : center;
          justify-content : center;
  
}

h1
{
	font-family: 'Ubuntu Mono', sans-serif;
	font-weight: 700;
	font-size: 5em;
}

.top-right
{
    position: fixed;
    top: 5%;
    right: 5%;
}

.img-responsive-height
{
  display: block;
  width: auto;
  max-height: 100%
}

#photo
{
	width: 180px;
	height: auto;
	border-radius: 90px;
	-webkit-border-radius: 90px;
	-moz-border-radius: 90px;

	/* transition for hover off */
	-webkit-transition: all 0.25s;
}

/* http://jsfiddle.net/byrichardpowell/38MGS/1/ */
#photo:hover
{
    -webkit-filter: blur(8px);
    -webkit-transform: scale(1.05, 1.05);
    opacity: 0.65;
    -webkit-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
}

.icon
{
	/* transition for hover off */
	-webkit-transition: all 0.25s;
}

.icon:hover
{
	-webkit-filter: blur(3px);
	-webkit-transition: all 0.25s ease-out;
	transition: all 0.25s ease-out;
}

/* typing effect */
/* http://www.paulund.co.uk/create-typing-effect */
.css-typing
{
    width: 7em;
    white-space: nowrap;
    overflow: hidden;
    -webkit-animation: type 2s steps(14, end);
    animation: type 2s steps(14, end);
}

@keyframes type{
    from { width: 0; }
}

@-webkit-keyframes type{
    from { width: 0; }
}