body
{
	font-family: 'Ubuntu Mono', sans-serif;
	font-weight: 500;
	font-size: 6em;
	color: #eeeeee;
	background-color:#ee475b;
  margin: 0;
  padding: 0;
}

.container
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.animated-text {
  white-space: pre;
  overflow: hidden;
  width: 15em;
  animation: typing 4s steps(15, end) forwards, 0.1s step-end infinite;
}

@keyframes typing {
  0% {
    width: 0;
  }
  100% {
    width: 450px;
  }
}

.main-text
{
  margin-top: 10px;
  font-size: .3em;
  font-weight: 200;
}

.resume-link
{
  color: lightblue;
}

#hint
{
  color: white;
  opacity: 0%;
}

.portrait
{
  margin-top: 10px;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
}

.portrait:hover {
  filter: grayscale(50%);
}
